#!/bin/bash

scriptPath=$(cd "$(dirname "${BASH_SOURCE[0]}")"; pwd -P)

PUB="$scriptPath"/src/publisher.py
SUB="$scriptPath"/src/subscriber.py

name=$1                     # pub/sub name, also log file name
topic=$2                    # topic name publishes and subscribes to
config={{ config }}         # qos config name
messages=$3                 # total messages published
rate=$4                     # publisher message sending rate (messages/sec) (optional)

if [[ "$name" =~ ^p.* ]]; then
    type=pub
elif [[ "$name" =~ ^s.* ]]; then
    type=sub
fi

source "{{ fastddsPath }}"

if [ "pub" == "$type" ]; then
    if [ -z "$rate" ] || [ -z "$messages" ]; then
        echo "Sending Rate and #Messages shoudl be given in Publisher"
        exit 0
    fi
    echo "Publisher created"
    nohup python3 "$PUB" --name={{ logPath }}/"$name" --config="$config" --messages="$messages" \
        --topic="$topic" --rate="$rate" &> {{ logPath }}/"$name".log &
    exit 0
elif [ "sub" == "$type" ]; then
    if [ -z "$messages" ]; then
        echo "#Messages should be given in Subscriber"
        exit 0
    fi
    echo "Subscriber created"
    nohup python3 "$SUB" --name={{ logPath }}/"$name" --config="$config" --messages="$messages" \
        --topic="$topic" &> {{ logPath }}/"$name".log &
    exit 0
else
    echo "Wrong type (only pub, sub accepted)"
    exit 1
fi
