**/hosts
case-1/src/*
!case-1/src/SimpleString.idl
!case-1/src/config.py
!case-1/src/publisher.py
!case-1/src/subscriber.py
inventory
inventory.yaml
**/logs
**/*.log
**/.flag
.DS_Store

host*_vars.yaml
set_up_vars.yaml
control_vars.yaml
logs_vars.yaml
