[publisher]
master ansible_ssh_host= ansible_ssh_port=

[subscriber]
worker1 ansible_ssh_host= ansible_ssh_port= topic=SimpleStringTopic_1
worker2 ansible_ssh_host= ansible_ssh_port= topic=SimpleStringTopic_2
worker3 ansible_ssh_host= ansible_ssh_port= topic=SimpleStringTopic_3

[all:vars]
ansible_connection=ssh
ansible_user=
ansible_ssh_pass=
